@tailwind base;
@tailwind components;
@tailwind utilities;


/* Calender  */

.rbc-toolbar{
    display: flex;
/* flex-wrap: wrap; */
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 10px;
font-size: 16px;

}